
#imagem-logo {
    display: block;
    margin: 0 auto;
}

#frase {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: rgb(4, 4, 105);
    text-align: center;
}
