
html,body {
    height: 100%;
    width: 100%;
    color: #222;
}

.padding{
    padding: 20px;
}


/*style logo (head)*/
#logo {
    text-align: center;
}

#frase {
    font-weight: 600;
    font-size: 25px;
    color: #004680;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 1.5px 1.5px 0px #6699ff;
}


/*style ficha cadastro*/
.centraliza-button {
    text-align: center;
}

#escolhe-genero {
    margin-left: 50px;
}


/*style navbar*/
.navbar-light{
    background-color: white !important;
    padding: 0px;
}

.navbar-nav > li{
    padding-left:10px;
}

.nav-link{
    font-size: 17px;
}


/*style tabelas*/
.topo {
    margin-top: 100px;
    margin-bottom: 20px;
}

.fas {
    padding: 7px;
}

.row {
    padding: 15px;
}

.table-wrap{
    overflow-x: auto;
}

.icon-edit{
    font-size: 20px;
}

.icon-delete{
    font-size: 20px;
}


/*style dashboard*/
.jumbotron {
    padding: 0px;
    border-radius: 0;
}

hr.dark{
    border-top: 1px solid #222;
    width: 50%;
}

.fa-clock{
    font-size: 95px;
    margin: 20px;
    color: #2163af;
}

.fa-ruler{
    color: #ffcc00;
}

.fa-balance-scale{
    color: #32c12c;
}

.fa-heartbeat{
    color: #bb0000;
}

.fa-ruler, .fa-balance-scale, .fa-heartbeat{
    font-size: 80px;
    margin: 20px;
}


/*style botão fixo*/
.add-ref {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}


/*style logout*/
#frase-logout {
    font-size: 27px;
    color: #222;
    margin-top: 120px;
}


/*style formulário cadastro*/
.padding2 {
    padding: 60px;
}

.form-peq {
    max-width: 200px;
}
