#logo {
    text-align: center;
}

#frase {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: rgb(4, 4, 105);
    text-align: center;
}

.form-login {
    margin-top: 90px;
    width: 400px;
    text-align: center;
}

#texto-login {
    text-align: center;
    margin-top: 50px;
}

